<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><div class="ionTitle"><img class="navStyle" src="/assets/icon/timer.png" alt=""><span id="spanFolder" class="spanNav">Timer</span></div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    {{folder}}

  </div>
</ion-content>
